openapi: 3.0.0
info:
  title: Engagespot API
  description: >-
    Our REST API allows you to send notifications to users on your app, and to
    do actions like Fetch Notifications, Delete Notification etc on behalf of
    them.


    ## Authentication


    This API should be authenticated in two ways.


    **Authenticate using API-KEY and API-SECRET**


    This mode is required when you want to authenticate as your Engagespot app
    and send a notification to one or more recipients. The credentials can be
    found in your Engagespot dashboard.


    **Authenticate using API-KEY and USER-ID**


    This mode should be used when you want to authenticate as your user and want
    to perform actions on behalf of them. For example, reading the notification
    inbox of a user, deleting a notification from a user's inbox etc.


    These authentication parameters should be passed via headers.


    | **Header Parameter** | **Description** |

    | --- | --- |

    | X-ENGAGESPOT-API-KEY | Your Engagespot API Key. You can see this on your
    Engagespot dashboard. |

    | X-ENGAGESPOT-API-SECRET | Your Engagespot API Secret. You can see this on
    your Engagespot dashboard.  <br>**You should never use this secret on any
    front-end apps.** |

    | X-ENGAGESPOT-USER-ID | Your user's unique identifier such as their email
    id that you used to register them on Engagespot. |

    | X-ENGAGESPOT-USER-SIGNATURE | This is optional. You need this param only
    if you have turned on Token Authentication for your app in Engagespot
    Dashboard.  <br>  <br>Your user's HMAC signature can be generated as follows
    -  <br>`createHmac('sha256', Your_API_Secret).update(user_Id,
    'utf8').digest('base64');`  <br> |
  version: 3.0.0
servers:
  - url: https://api.engagespot.co
tags:
  - name: Notifications
    description: End points to manage notifications in your app.
  - name: Profile
  - name: Preferences
  - name: Category
    description: Lists all categories in this app.
paths:
  /v3/notifications:
    post:
      tags:
        - Notifications
      summary: /notifications
      description: >-
        Sends a new notification to one or more recipients.


        This request accepts an optional `override` object that you can use to
        override several configurations specified in your Engagespot. It can
        also override Provider specific configs and also to directly specify any
        additional properties supported by your provider.


        Read more about providers and their available override configurations from our
        [docs](https://documentation.engagespot.co/docs/channels/what-are-providers#overriding-configurations-via-api)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [notification, recipients]
              properties:
                notification:
                  type: object
                  required: [title]
                  properties:
                    title:
                      type: string
                    message:
                      type: string
                    url:
                      type: string
                    icon:
                      type: string
                recipients:
                  type: array
                  description: Unique id's of your users to send this notification to.
                  items:
                    type: string
                category:
                  type: string
                  description: Category to tag this notification. If category doesn't exist, it will be created.
                override:
                  type: object
                  description: Override delivery preferences configured in your account.
                  properties:
                    channels:
                      type: array
                      description: >-
                        Specify the channels through which this notification should be delivered. (Eg - inApp, webPush, email, sms)
                      items:
                        type: string
                    sendgrid_email:
                      type: object
                      description: >-
                        Overrides Sendgrid configuration specified in your Engagespot dashboard. 
                        This is considered only if you've enabled Sendgrid email provider.
                        The first property _config is used by Engagespot to override your Sendgrid default configuration specified in the dashboard.
                        Along with _config (Not inside _config), You can pass any property as supported by the Sendgrid's mail send API.
                      properties:
                        _config:
                          type: object
                          properties:
                            API_KEY:
                              type: string
                              description: Override Sendgrid API_KEY mentioned in your dashboard.
                            FROM_EMAIL:
                              type: string
                              description: Email to be used in the 'from' field.
                            FROM_NAME:
                              type: string
                              description: Name to be used in the 'from' field.
                    smtp_email:
                      type: object
                      description: >-
                        Overrides SMTP Provider configurations specified in your Engagespot dashboard. 
                        This is considered only if you have enabled SMTP Email Provider.
                      properties:
                        SMTP_HOST:
                          type: string
                        SMTP_PORT:
                          type: string
                        SECURE:
                          type: boolean
                        REQUIRE_TLS:
                          type: boolean
                        SMTP_USERNAME:
                          type: string
                        SMTP_PASSWORD:
                          type: string
                        FROM_NAME:
                          type: string
                        FROM_EMAIL:
                          type: string

              example:
                notification:
                  title: Rose accepted your friend request
                recipients:
                  - jack@example.com
                override:
                  channels:
                    - email
                    - webPush
      parameters:
        - name: X-ENGAGESPOT-API-KEY
          required: true
          description: Your Engagespot app's api key which can be found in your dashboard.
          in: header
          schema:
            type: string
          example: at410rizwpsm6s4jjqmlx
        - name: X-ENGAGESPOT-API-SECRET
          description: Your Engagespot app's api secret which can be found in your dashboard.
          in: header
          required: true
          schema:
            type: string
          example: 7rd9fahc6f5tam9ccdrig3h7j15b6cd0jc79708d4814j7ia
      responses:
        '202':
          description: Successful response
          content:
            application/json: {}
        '401':
          description: Authentication failed
          content:
            application/json:
              {
                'message': "Authentication failed. Make sure you're using the right API Credentials. Please read our docs at https://documentation.engagespot.co",
              }
    get:
      tags:
        - Notifications
      summary: /notifications
      description: This API returns list of notifications for the given user.
      parameters:
        - name: X-ENGAGESPOT-API-KEY
          in: header
          required: true
          schema:
            type: string
          example: shiynklpz18l3ktqyy6d9a
        - name: X-ENGAGESPOT-USER-ID
          required: true
          in: header
          schema:
            type: string
          example: yourUser@example.com
        - name: X-ENGAGESPOT-USER-SIGNATURE
          in: header
          schema:
            type: string
          description: Required If Token Authentication is Turned On
          example: USER-SIGNATURE
        - name: ''
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/notifications/428107:
    get:
      tags:
        - Notifications
      summary: /notifications/:notificationId
      description: Gets the details of a notification
      parameters:
        - name: X-ENGAGESPOT-API-KEY
          required: true
          in: header
          schema:
            type: string
          example: shiynklpz18l3ktqyy6d9a
        - name: X-ENGAGESPOT-USER-ID
          required: true
          in: header
          schema:
            type: string
          example: yourUser@example.com
        - name: X-ENGAGESPOT-USER-SIGNATURE
          in: header
          schema:
            type: string
          description: Required If Token Authentication is Turned On
          example: USER-SIGNATURE
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/notifications/markAllNotificationsAsSeen:
    post:
      tags:
        - Notifications
      summary: /markAllNotificationsAsSeen
      description: Marks all notifications as "seen" for the given user.
      requestBody:
        content: {}
      parameters:
        - name: X-ENGAGESPOT-API-KEY
          required: true
          in: header
          schema:
            type: string
          example: shiynklpz18l3ktqyy6d9a
        - name: X-ENGAGESPOT-USER-ID
          required: true
          in: header
          schema:
            type: string
          example: yourUser@example.com
        - name: X-ENGAGESPOT-USER-SIGNATURE
          in: header
          schema:
            type: string
          description: Required If Token Authentication is Turned On
          example: USER-SIGNATURE
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/notifications/{notificationId}/click:
    post:
      tags:
        - Notifications
      summary: /notifications/:id/click
      description: Marks a notification as clicked.
      requestBody:
        content: {}
      parameters:
        - name: X-ENGAGESPOT-API-KEY
          required: true
          in: header
          schema:
            type: string
          example: shiynklpz18l3ktqyy6d9a
        - name: X-ENGAGESPOT-USER-ID
          required: true
          in: header
          schema:
            type: string
          example: yourUser@example.com
        - name: X-ENGAGESPOT-USER-SIGNATURE
          in: header
          schema:
            type: string
          description: Required If Token Authentication is Turned On
          example: USER-SIGNATURE
        - name: notificationId
          in: path
          schema:
            type: integer
          required: true
          example: '428152'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/notifications/428019/:
    delete:
      tags:
        - Notifications
      summary: /notifications/:id
      description: Deletes a notification
      parameters:
        - name: X-ENGAGESPOT-API-KEY
          required: true
          in: header
          schema:
            type: string
          example: shiynklpz18l3ktqyy6d9a
        - name: X-ENGAGESPOT-USER-ID
          required: true
          in: header
          schema:
            type: string
          example: yourUser@example.com
        - name: X-ENGAGESPOT-USER-SIGNATURE
          in: header
          schema:
            type: string
          description: Required If Token Authentication is Turned On
          example: USER-SIGNATURE
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/profile:
    patch:
      tags:
        - Profile
      summary: /profile
      description: Sets one or more key value pairs to User's profile.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Key value pair attributes for your user's profile.
              example:
                name: Jack
                email: jack@titanic.com
                phone: +1 661122334455
      parameters:
        - name: X-ENGAGESPOT-API-KEY
          required: true
          in: header
          schema:
            type: string
          example: at410rizwpsm6s4jjqmlx
        - name: X-ENGAGESPOT-USER-ID
          required: true
          in: header
          schema:
            type: string
          example: youruser@example.com
        - name: X-ENGAGESPOT-USER-SIGNATURE
          in: header
          schema:
            type: string
          description: Required If Token Authentication is Turned On for your app.
          example: jYt501jhd736hcbcGt34D6HyCxdFrEhkskpurgs36bbK6Xxzl1Lp
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Profile
      summary: /profile
      description: Gets a user's profile.
      parameters:
        - name: X-ENGAGESPOT-API-KEY
          required: true
          in: header
          schema:
            type: string
          example: at410rizwpsm6s4jjqmlx
        - name: X-ENGAGESPOT-USER-ID
          required: true
          in: header
          schema:
            type: string
          example: youruser@example.com
        - name: X-ENGAGESPOT-USER-SIGNATURE
          in: header
          schema:
            type: string
          description: Required If Token Authentication is Turned On
          example: USER-SIGNATURE
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/preferences:
    get:
      tags:
        - Preferences
      summary: /preferences
      description: Gets a user's profile.
      parameters:
        - name: X-ENGAGESPOT-API-KEY
          required: true
          in: header
          schema:
            type: string
          example: at410rizwpsm6s4jjqmlx
        - name: X-ENGAGESPOT-USER-ID
          required: true
          in: header
          schema:
            type: string
          example: youruser@example.com
        - name: X-ENGAGESPOT-USER-SIGNATURE
          in: header
          schema:
            type: string
          description: Required If Token Authentication is Turned On
          example: USER-SIGNATURE
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - Preferences
      summary: /preferences
      description: Set notification delivery preference on notification categories and channels.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [preference]
              description: Array of preference objects for each category
              properties:
                preference:
                  type: array
                  items:
                    type: object
                    required: [categoryId, channels]
                    properties:
                      categoryId:
                        type: number
                        description: Category Id. (You'll get this from GET categories API)
                      channels:
                        type: array
                        items:
                          type: object
                          required: [channel, enabled]
                          properties:
                            channel:
                              type: string
                              description: Channel (inApp, webPush, email, sms)
                              required: true
                            enabled:
                              type: boolean
                              description: Whether notifications from this channel should be enabled for this category.
                              required: true

              example:
                preference:
                  - categoryId: 1
                    channels:
                      - channel: inApp
                        enabled: true
      parameters:
        - name: X-ENGAGESPOT-API-KEY
          required: true
          in: header
          schema:
            type: string
          example: at410rizwpsm6s4jjqmlx
        - name: X-ENGAGESPOT-USER-ID
          required: true
          in: header
          schema:
            type: string
          example: youruser@example.com
        - name: X-ENGAGESPOT-USER-SIGNATURE
          in: header
          schema:
            type: string
          description: Required If Token Authentication is Turned On
          example: USER_SIGNATURE
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/categories:
    get:
      tags:
        - Category
      summary: /categories
      description: Gets a user's profile.
      parameters:
        - name: X-ENGAGESPOT-API-KEY
          required: true
          in: header
          schema:
            type: string
          example: at410rizwpsm6s4jjqmlx
        - name: X-ENGAGESPOT-USER-ID
          required: true
          in: header
          schema:
            type: string
          example: youruser@example.com
        - name: X-ENGAGESPOT-USER-SIGNATURE
          in: header
          schema:
            type: string
          description: Required If Token Authentication is Turned On
          example: USER-SIGNATURE
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
