REACT_APP_BASE_URL = 
REACT_APP_ENGAGESPOT_API_KEY = 
REACT_APP_ENGAGESPOT_ENDPOINT_OVERRIDE = 
REACT_APP_GITHUB_APP_CLIENT_ID = 
REACT_APP_GITHUB_APP_REDIRECT_URL = 
REACT_APP_PADDLE_VENDOR = 
REACT_APP_PADDLE_SANDBOX =